.NavBar {
	display: flex;
	justify-content: space-around;
	background-color: lightcyan;
	min-height: 15vh;
  align-items: center;
}

.NavBar h1 {
	width: 25%;
	text-align: center;
}

.NavBar nav {
	display: flex;
	justify-content: space-around;
	width: 50%;
	text-align: center;
}

.NavBar a {
	text-decoration: none;
	color: black;
	font-size: 35px;
	background-color: aqua;
	padding: 20px;
	width: 33%;
}