.ShopItems ul {
	display: grid;
	grid-gap: 10px;
	list-style-type: none;
	padding-left: 0;
	grid-template-columns: repeat(auto-fill, 450px);
	justify-content: center;
	max-width: 90%;
	margin: auto;
}

.ShopItems li {
	max-width: max-content;
}